/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/

/* Buttons */

.readmore-button{ 
    background-color: Transparent;
    font-family: Novecento Sans Web,sans-serif;
    text-decoration: none;
    background-repeat:no-repeat;
    color: white; 
    border: 1px solid white;
    padding: 0.75em 1em;
    text-transform: uppercase;
    overflow: hidden;
}

.blog {
    .readmore-button {
        color: #000000;
        border: 1px solid #000000;
    }
}

.adventures-btn {
    @extend .product-btn;
    font-size: 1em;
	margin: 1em 0 4em 0;
}

.wpcf7 {
    text-transform: uppercase;
    font-family: Novecento Sans Web, sans-serif;
    color: #2f1339;
    font-size: 0.9em;
    margin-bottom: 1em;

    .wpcf7-form-control {
        background-color: #f4f4f4;
        border: 1px solid #e1e1e1;
    }

    .wpcf7-textarea  {
        width: 100%;
        max-width: 600px;
    }

    .wpcf7-submit {
        background-color: $color_site_green;
        color: #FFFFFF;
        font-size: 0.9em;
        font-family: Novecento Sans Web,sans-serif;
        text-transform: uppercase;
        padding: 0.75em 1.5em;
    }
    
}

.social-btn { 
    border: 1px solid #000;
    color: #000;
    background-color: Transparent;
    font-family: Novecento Sans Web,sans-serif;
    text-decoration: none;
    background-repeat:no-repeat;
    padding: 0.75em 1.25em;
    text-transform: uppercase;
    overflow: hidden;
} 