/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/

/* Buttons */

.read-more-button { 
    background-color: Transparent;
    background-repeat:no-repeat;
    color: white; 
    border: 1px solid white;
    padding: 0.75em 1em;
    text-transform: uppercase;
    overflow: hidden;
}

.adventures-btn {
    @extend .product-btn;
    font-size: 1em;
	margin: 1em 0 4em 0;
}