// Nav Bar Specs Across All Pages 
.masthead { 
	display: flex; 
	overflow: hidden;
	margin-bottom: 3.2em;

	.nav-wrapper { 
		width: 100%; 
		height: 50px; 
		position: absolute; 
	}
}

.banner-wrapper {
	width: 100%; 
	height: 100vh; 
}

.menu {
	width: 100%; 
	height: 50px; 
	display: flex;
	justify-content: space-around; 
	margin-bottom: $base__space-unit;

	ul {
		list-style: none;
		z-index: 2;
		text-shadow: 1px 1px 2px #323232;

		li {
			display: inline;
			text-transform: uppercase;
			padding-right: 0.5em;
			}
		
		a {
			color: white; 
			text-decoration: none;
			}
			
		}	
		
		// .fa-search {
		// 	color: white;
		// 	padding-top: 1.25em;
		// 	padding-left: 0.5em;
		
		// 	::before {
		// 		display: none;
		// 	}
// }

		// .search-form {
		// 	display: inline;
		// }
}

// Accessibility 
.screen-reader {
	position:absolute;
	left:-10000px;
	top:auto;
	width:1px;
	height:1px;
	overflow:hidden;
}

// Logo Specs Across All Pages 
.header-logo { 
	background-size: contain; 
	background-repeat: no-repeat;
	height: 50px; 
	width: 40px; 
	margin-top: 0.75em; 	
} 

.home, .page-template-page-about {
	
	.header-logo {
	background-image: url('../../images/logos/inhabitent-logo-tent-white.svg');
	}
}

// Customized Green Nav Bar on Shop, Journal and Find Us Pages 
.archive, .blog, .page-id-58 {

	.nav-wrapper {
		border-bottom: 1px solid #e1e1e1;

		a {
			color: $color_site_green; 
			text-shadow: none; 
		}

		.header-logo {
			background-image: url('../../images/logos/inhabitent-logo-tent.svg');
		}
	}
}

// Circle Logo on Front & About Page 

.home, .page-template-page-about {
	
	.circle-logo {
		position: absolute; 
		background-image: url('../../images/logos/inhabitent-logo-full.svg');
		background-size: contain;
		height: 250px; 
		width: 250px;
		transform:translateX(-50%);
		left: 50%;
		top: 35%;
	}
}
