.site-header { 
	height: 50px; 
	width: 100%; 
	display: flex;
	position: absolute; 
	top: 0;
	justify-content: space-around;
	align-items: center;
}

.header-logo {
	width: 50px; 
	height: auto;

}

.menu {
	
	ul {
		list-style: none;
		text-align: left;

		li {
			text-transform: uppercase;
			display: inline;
			padding-right: 0.5em;
			}
		
		a {
			color: white; 
			text-decoration: none;
			}
			
		}		
}