.site-header { 
	height: 50px; 
	width: 100%; 
	display: flex;
		
	top: 0;
	justify-content: space-around;
	align-items: center;

	// position: fixed;
	// top: 0;
	// width: 100%
}

.header-logo {
	width: 50px; 
	height: auto;

}

.menu {
	display: flex; 
	flex-wrap: nowrap;

	ul {
		list-style: none;
		text-align: left;

		li {
			text-transform: uppercase;
			display: inline;
			padding-right: 0.5em;
			}
		
		a {
			color: white; 
			text-decoration: none;
			}
			
		}		
}

.fa-search {
	color: white;
	padding-top: 1.25em;
	padding-left: 0.5em;

	::before {
		display: none;
	}
}

.screen-reader {
	position:absolute;
	left:-10000px;
	top:auto;
	width:1px;
	height:1px;
	overflow:hidden;
}