/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/


// Banner for Front Page & About Page 

.home {
	.banner-wrapper {
		background: linear-gradient(180deg,rgba(0,0,0,.4) 0,rgba(0,0,0,.4)),
					#969696 url(../../images/home-hero.jpg) no-repeat top; 
					background-size: cover;
	}
}

.page-template-page-about {
	.banner-wrapper {
		background: linear-gradient(180deg,rgba(0,0,0,.4) 0,rgba(0,0,0,.4)),
					#969696 url(../../images/about-hero.jpg) no-repeat bottom; 
					background-size: cover;
	}
}
/* Front Page */

// Product Section - Front Page

.product-section-container {
	text-align: center;
	width: 100%;

	.product-block-wrapper {
		display: flex;
		flex-direction: row;
		width: 1120px;
		text-align: center;
		margin-left: auto;
		margin-right: auto;

		.product-block-single {
			width: 350px;
			height: 240px;
			padding: 0.75em;
			background-color: white;
			color: 404040; 
			size: 0.75em;
			margin: 0.5em;
			border: 1px solid #e1e1e1;
			border-top-width: 5px;

			a {
				text-decoration: none;
			}
		}

		img {
			height: 70px; 
			width: 70px;
		}
	}
}

// Journal - Front Page 

.journal-feature-container {
	@extend .product-section-container; 

	.journal-feature-block-wrapper { 
	display: flex; 
	flex-direction: row; 
	justify-content: space-between;
	min-width: 1120px;
	color: black;
	margin-left: auto;
	margin-right: auto;
	}

	.journal-feature-block-single {
		text-align: left;
		width: 350px;
		position: relative;
		border: 1px solid #e1e1e1;

		.featured-text-wrapper {
			padding: 0 .75em; 

			.featured-title {
				padding-bottom: 2em;
			}

			.featured-btn {
				position: absolute;
    			bottom: 0.5em;
    			left: .75em;
				background-color: #FFFFFF;
				padding: .5em 1em;
				border: 1px solid #000000;

				
			}
		}
	}

}

// Adventure Section - Front Page 

.latest-adventures-container {
	@extend .product-section-container; 
}

	.latest-adventures-block-wrapper {
		display: grid;
		grid-template-columns: 2fr 1fr 1fr;
		grid-template-rows: 1fr 1fr;
		grid-column-gap: 10px;
		width: 1120px; 
		margin-left: auto; 
		margin-right: auto; 

	.adventure-block {
		min-height: 265px; 

		&:nth-of-type(1) { 
			grid-column: 1 / 2;
			grid-row: 1 / 3;
			width: 550px; 
			height: 550px;	
		}

		&:nth-of-type(2) { 
			width: 560px;
			height: 265px;
			grid-column: 2 / 4;
            grid-row: 1 / 2;
		}
	}

	.text-btn-wrap {
		display: block;
		padding: 1em;
	}
}

.adventure-btn-wrapper {
	width: 1120px; 
	margin-left: auto; 
	margin-right: auto; 
	text-align: left; 

}

/* Shop Page */ 

.site-main {
    width: 1120px; 
    margin-right: auto; 
	margin-left: auto;
	
}

.post-type-archive-product {

	.site-content {
		display: flex; 
		flex-direction: column;
		width: 1120px; 
		margin-left: auto; 
		margin-right: auto;
	}

	h2 {
		text-align: center; 
		margin-top: 1em;
		color: #000000;
		font-weight: bold; 
		font-size: 2em; 
	}

	h3 {
		font-weight: bold; 
		font-size: 2em; 
	}

	.product-block-wrapper {
		display: flex; 
		flex-direction: row;
		justify-content: center;
		line-height: 0;

			.product-btn {
				background-color: #ffffff;
				color: $color_site_green; 
				text-decoration: none;
			}
	}

}

.shop-products-grid {
	width: 1120px;
	margin-left: auto; 
	margin-right: auto;
	border-top: 1px dashed #c8c8c8;
	padding-top: 3em;
	margin-top: 2em;;
    display: grid;
    grid-gap: 1em;
	grid-template-columns: repeat(4, 1fr);	
	grid-template-rows: repeat(4, 1fr);
	margin-bottom: 3em;
}

.type-product {
	border: 1px solid #c8c8c8;
	width: 250px; 
	height: 230px;
}

.attachment-shop {
	max-width: 250px; 
	max-height: 167px;
}

.product-price-info {
	text-align: center;
}


/* Journal Page */

.journal-section-wrapper {
	width: 1120px; 
	display: inline-flex; 
	flex-direction: row-reverse;

	.journal-section {
		max-width: 70%; 
		border-right: 1px solid #e1e1e1;

		.journal-single-post {
			margin-top: $base__space-unit;
			margin-bottom: 5em;
			width: 85%;

		}
	}

	.widget-area {
		width: 30%; 
		padding-left: 1em;
		display: flex; 
		flex-direction: column;
		justify-content: flex-start;
		white-space: nowrap;
	}

		ul {
			margin: 0; 
			padding: 0;
			list-style: none;
			text-align: left;
		}
}

.widget-title  {
	&:nth-of-type(1) {
		padding-top: 1.5em;
	}
}

.widget_custom_html {
	a {
		margin-left: 0.5em;

		span {
			padding-left: 1.5em;
		}
	}
}

// Title on Blog Posts 
.blog, .single {

	.entry-header{
		position: relative;
		width: 96%;

		.entry-title {
			position: absolute; 
			top: 0;
			left: 0;
			padding-left: 1em;
			margin-top: 1em;
			text-align: left;
			max-width: 70%; 
			background: $color_site_green;
			color: white;
		}	

		.entry-meta {
			position: absolute; 
			right: 0;
			bottom: 7px;
			background: $color_site_green;
			color: #FFFFFF; 
			text-decoration: none;
			padding: 0.3em;
			font-weight: bold;
		}	
			a {
				color: #FFFFFF; 
				text-decoration: none;
				font-weight: bold;
			}
	}

	p {
		margin-bottom: 2em;
	}
}

/* Journal Single Page */ 

.single {
	.site-content {
		width: 100%; 
		text-align: center;

			.site-main {
				width: 100%; 
				display: flex; 
				flex-direction: row-reverse;
		}
	}
}


/* About Page */ 

.page-template-page-about {
	.entry-title {
		position: absolute;
		top: 75%;
		left: 50%;
		width: 500px;
		height: 500px; 
		margin-top: -250px; 
   		margin-left: -250px; 
	}
}


/* Find Us Page */ 

.page-id-58  {
	width: 100%; 

		.content-area {
			width: 1120px;
			display: flex; 
			flex-direction: row;
			margin-left: auto; 
			margin-right: auto; 

			.site-main {
				width: 70%; 
				border-right: 1px solid #e1e1e1;
			}

			.widget-area {
				width: 30%; 
				padding-left: 2em;
			}
		}
}

.post-58 {
	padding: 0 2.5em 3em 2.5em;
}